@import '../../../../assets/styles/variable.scss';
body{
    background-color: #f5f5f5 !important;
}
.counter {
    border: 1px solid #ced4da;
    box-shadow: 0px 1px 5px 4px rgba(117,117,117,0.36);
-webkit-box-shadow: 0px 1px 5px 4px rgba(117,117,117,0.36);
-moz-box-shadow: 0px 1px 5px 4px rgba(117,117,117,0.36);
    padding: 20px 0;
    border-radius: 5px;
    margin: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #FF5E00;
}


.card {
    padding: 20px;
    background-color: #eee;
    padding-bottom: 50px;
    padding-top: 50px
}

.border-rad {
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    color: #fff;
    background-color: #f9a826;
    border-color: #f9a826
}

.border-rad:hover {
    background-color: #f9a826;
    border-color: #f9a826
}

.text-center{
    margin-top: 5%;
    padding-bottom: 5%;
}


/* buttons */

