<body>
    
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center" style="padding-top: 5%;">
            <div class="col-12">
                <div class="card">
                    <div class="text-center"> <img src="./assets/img/iconos/favicon.png" width="200"> <h1 class="titles">¡Trabajemos juntos!</h1> <br><span class="d-block mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.
                    </span>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" class="button">Enviar Whatsapp</a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a href="#" class="button">Llamada Teléfonica</a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a href="#" class="button">Datos de contacto</a>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3 col-sm-12">
                <div class="counter">
                    <i class="fa fa-code fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                    <p class="count-text ">Our Customer</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="counter">
                    <i class="fa fa-coffee fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
                    <p class="count-text ">Happy Clients</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="counter">
                    <i class="fa fa-lightbulb-o fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
                    <p class="count-text ">Project Complete</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="counter">
                    <i class="fa fa-bug fa-2x"></i>
                    <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
                    <p class="count-text ">Coffee With Clients</p>
                </div>
            </div>
        </div>
    </div>

</body>