<body>
    
    <div class="container digit">
        <div class="row d-flex justify-content-center align-items-center" style="padding-top: 5%; padding-bottom: 5%;">
            <div class="col-12">
                <div class="card">
                    <div class="text-center"> <img src="./assets/img/iconos/favicon.png" width="200"> <h1 class="titles">¡Trabajemos juntos!</h1> <br><span class="d-block mt-3">
                        Ponte en contacto con nosotros, tenemos las siguientes opciones para atenderte a la brevedad.
                    </span>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a  href="https://wa.me/527721486864?text=Deseo%20mas%20información%20gracias%20"
                            target="_blank" class="buttons">Enviar Whatsapp</a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a href="tel:+524471037631" class="buttons">Llamada Teléfonica</a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a [routerLink]="['/contacto']" class="buttons">Datos de contacto</a>
                        </div>

                    </div>
                    </div>
                </div>
         
            </div>
        </div>
    </div>

</body>