<body>
    
    <div class="container digit">
        <div class="row d-flex justify-content-center align-items-center" style="padding-top: 5%; padding-bottom: 5%;">
            <div class="col-12">
                <div class="card">
                    <div class="text-center"> <img src="./assets/img/iconos/favicon.png" width="200"> <h1 class="titles">¡Trabajemos juntos!</h1> <br><span class="d-block mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor gravida aliquam. Morbi orci urna, iaculis in ligula et, posuere interdum lectus.
                    </span>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <a href="#" class="buttons">Enviar Whatsapp</a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a href="#" class="buttons">Llamada Teléfonica</a>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <a href="#" class="buttons">Datos de contacto</a>
                        </div>

                    </div>
                    </div>
                </div>
         
            </div>
        </div>
    </div>

</body>