<loading *ngIf="isLoading"></loading>
<mat-accordion *ngIf="!overviewPage" class="accordion-categories">
    <mat-expansion-panel class="categories-select" #mep="matExpansionPanel">
        <mat-expansion-panel-header>
            <mat-panel-title class="select-title">
                Select category
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field *ngFor="let category of catWithActivities" class="activities-select">
            <mat-label class="activity-header">{{category.category}}</mat-label>
            <mat-select>
                <mat-option *ngFor="let activity of category.activities" (click)="loadActivity(activity.hash_activity)" (click)="mep.expanded = false;" class="activity-option">{{activity.activity}}</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel>
</mat-accordion>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12"></div>
        <div class="col-md-8 col-sm-12">
            <span [class]="overviewPage ? 'non-active-link' : 'active-link'" (click)="changePage(false)">My activity</span>
            | 
            <span [class]="overviewPage ? 'active-link' : 'non-active-link'" (click)="changePage(true)">Overview</span>
            <button *ngIf="(currentActivity != null && !isTeamActivity) || (isTeamActivity && hash_team !=null)" class="btn-upload" (click)="openUploadDialog();">Upload new record</button>
            <!-- <button class="btn-upload" (click)="openUploadDialog();">Upload new record</button> -->
        </div>
    </div>
    <div class="row row-evidences">
        <div class="col-md-4 col-sm-12 column-left">
            <app-paricipant-info *ngIf="!isTeamActivity"></app-paricipant-info>
            <app-team-info *ngIf="isTeamActivity" (teamEmitter)="receiveTeam($event)"></app-team-info>
            <p  *ngIf="currentActivity != null" class="selected-activity">{{currentActivity.activity}}</p>
        </div>

        <!-- OVERVIEW PAGE -->
        <div class="col-md-8 col-sm-12" *ngIf="overviewPage" >
            <div *ngIf="latestEvidences.length == 0" class="container-evidences">
                <img src="./assets/img/profile/lazy_big.png" alt="" class="img-no-evidence">
                <p class="txt-no-evidence">You have not entered any competition yet</p>
            </div>
            <div *ngIf="latestEvidences.length >= 1" class="container-evidences">
                <div class="row">
                    <div *ngFor="let evidence of latestEvidences" class="col-md-4 col-sm-12">
                        <p class="activity-name">{{evidence.activity}}</p>
                        <img class="img-evidence" *ngIf="evidence.type_evidence == 'Foto'" src="{{imagesEvidence}}{{evidence.participant.hash_participant}}/{{evidence.hash_activity}}/{{evidence.evidence}}">
                        <video class="img-evidence" controls *ngIf="evidence.type_evidence == 'Video'" src="{{imagesEvidence}}{{evidence.participant.hash_participant}}/{{evidence.hash_activity}}/{{evidence.evidence}}"></video>
                        <div class="container-info-evidence">
                            <p class="activity-date">Latest Update: {{changeDateFormat(evidence.date_evidence)}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- MY ACTIVITY PAGE -->
        <div class="col-md-8 col-sm-12" *ngIf="!overviewPage" >
            <div *ngIf="currentEvidences.length == 0" class="container-evidences">
                <img src="./assets/img/profile/lazy_big.png" alt="" class="img-no-evidence">
                <p class="txt-no-evidence">You have not entered this competition yet</p>
            </div>
            <div *ngIf="currentEvidences.length >= 1" class="container-evidences">
                <div class="row">
                    <div *ngFor="let evidence of currentEvidences" class="col-md-4 col-sm-12">
                        <img class="img-evidence" *ngIf="evidence.type_evidence == 'Foto'" src="{{imagesEvidence}}{{evidence.participant.hash_participant}}/{{evidence.hash_activity}}/{{evidence.evidence}}">
                        <video class="img-evidence" controls *ngIf="evidence.type_evidence == 'Video'" src="{{imagesEvidence}}{{evidence.participant.hash_participant}}/{{evidence.hash_activity}}/{{evidence.evidence}}"></video>
                        <div class="container-info-evidence">
                            <p class="datos datos-date">{{changeDateFormat(evidence.date_evidence)}}</p>    
                            <p class="datos datos-description" *ngIf="evidence.description != null">{{evidence.description}}</p>                    
                            <p class="datos datos-distance" *ngIf="evidence.distance != null"> 
                                <span class="span-cards hash_tag"><b>Distance: </b></span> 
                                <span class="span-cards distance_value">{{convertDistance(evidence.distance)}} km</span> 
                            </p>                    
                            <p class="datos datos-time" *ngIf="evidence.time != null"> 
                                <span class="span-cards hash_tag "><b>Time: </b></span> 
                                <span class="span-cards">{{convertTime(evidence.time)}}</span> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
