@import "../../app.component.scss";

.row-evidences{
    margin-top: 100px;
}
.container-evidences{
    text-align: center;
}
.img-no-evidence{
    max-width: 300px;
    height: auto;
    margin:auto;
}
.txt-no-evidence{
    color: #b1b1b1;
    font-weight: 200;
    font-size: 1.5rem;
}
.column-left{
    margin: auto;
}
.activity-name{
    color: $dark-blue;
    font-weight: bold;
}
.activity-date{
    color: $grey-font;
    font-size: 0.6rem;
    bottom:0;
}
.container-info-evidence{
    margin-top: 20px;
}
.img-evidence{
    max-height: 200px;
    width: auto;
    margin: auto;
    display: block;
    padding-top: 20px;
}
.non-active-link{
    color: $grey-font;
}
.active-link{
    color: $light-blue;
    text-decoration: underline;
}
.non-active-link, .active-link{
    font-weight: bold;
    font-size: 0.8rem;
}
.non-active-link:hover, .active-link:hover{
    cursor: pointer;
}


.categories-select{
    border: 1px solid $grey-font;
    width: 300px;
}
.select-title{
    color: $grey-font;
}
.select-icon{
    float: right;
}
.activities-select{
    width: 100%;
    background-color: white !important;
}
.activity-header{
    font-weight: bold;
    background-color: white;
}
.activity-option{
    background-color: $light-blue;
    color: white;
}
.activity-option:hover{
    color: $grey-font;
}
.accordion-categories{
    z-index: 2;
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
}

.datos-date{
    float: right;
}
.datos{
    line-height: 0.5;
    color: $grey-font;
    font-size: 0.8rem;
}
.datos-distance, .datos-time, .datos-description{
    text-align: left;
}

.btn-upload{
    float: right;
    background-color: $light-blue;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.selected-activity{
    font-size: 1.6rem;
    font-weight: bold;
    color: $dark-blue;
    margin-top: 50px;
}