<header>
    <div class="overlay">
		<video id="background-video" autoplay loop muted>
			<source src="https://player.vimeo.com/external/259623335.hd.mp4?s=642477df8925d2168f417cd5d98bef6203d3c229&profile_id=174" type="video/mp4">
		  </video>
          <div class="txt_header">
			  <h1 class="header_tittle animate__animated animate__slideInUp">Redes <br> y <br> Telecomunicaciones</h1>
			  <!-- <h3 class="texto_header">Razones para elegirnos</h3> -->
			  <p class="texto_header animate__animated animate__flash">Compartir la visión de nuestros clientes es nuestra mejor herramienta, con una misma meta es más fácil generar los resultados esperados.
			  </p>
		  </div>        
    </div>
</header>

<section id=timeline>

	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1 digit">
			<div class="head">
				<div class="number-box">
					<!-- <span>01</span> -->
				</div>				
				<h2> Conecta tu empresa</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/redes.jpg" style="width: 100%;" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2 digit">
			<div class="head">
				<div class="number-box">
					<!-- <span>02</span> -->
				</div>
				<h2> Soluciones Wifi</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/wifi.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3 digit">
			<div class="head">
				<div class="number-box">
					<!-- <span>03</span> -->
				</div>
				<h2> Videovigilancia</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/camaras.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4 digit">
			<div class="head">
				<div class="number-box">
					<!-- <span>04</span> -->
				</div>
				<h2> Conmutadores telefónicos</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/telefonia.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step5 digit">
			<div class="head">
				<div class="number-box">
					<!-- <span>05</span> -->
				</div>
				<h2>Casas inteligentes</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/domotica.jpg" alt="Graphic">
			</div>
		</div>

        <div class="demo-card demo-card--step1 digit">
			<div class="head">
				<div class="number-box">
					<!-- <span>05</span> -->
				</div>
				<h2>Soporte Técnico</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/soporte.jpg" alt="Graphic">
			</div>
		</div>
    
	</div>
</section>
<app-counters></app-counters>