<header>
    <div class="overlay">
		<video id="background-video" autoplay loop muted>
			<source src="https://player.vimeo.com/external/259623335.hd.mp4?s=642477df8925d2168f417cd5d98bef6203d3c229&profile_id=174" type="video/mp4">
		  </video>
          <div class="txt_header">
			  <h1 class="header_tittle animate__animated animate__slideInUp">Redes <br> y <br> Telecomunicaciones</h1>
			  <!-- <h3 class="texto_header">Razones para elegirnos</h3> -->
			  <p class="texto_header animate__animated animate__flash">Compartir la visión de nuestros clientes es nuestra mejor herramienta, con una misma meta es más fácil generar los resultados esperados.
			  </p>
		  </div>        
    </div>
</header>

<section id=timeline>

	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1 servLeft">
			<div class="head">
				<div class="number-box">
					<!-- <span>01</span> -->
				</div>				
				<h2> Conecta tu empresa</h2>
			</div>
			<div class="body">
				<p>Conectamos tu empresa basándonos en los estándares de cableado estructurado, obteniendo un mejor desempeño y fiabilidad en tu red, convertimos cualquier espacio en un entorno de trabajo con conexión alámbrica para interactuar con usuarios, socios, proveedores etc.</p>
				<img src="./assets/img/servicios/redes.jpg" style="width: 100%;" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2 servRight">
			<div class="head">
				<div class="number-box">
					<!-- <span>02</span> -->
				</div>
				<h2> Soluciones Wifi</h2>
			</div>
			<div class="body">
				<p>Los servicios WIFI son ideales para empresas, hoteles y hospitales, desde pequeños sitios con solo unas pocas docenas de dispositivos inalámbricos hasta grandes instalaciones de múltiples sitios.					
					<br>
					<b>Manejamos marcas Cisco Meraki, Ubiquiti Networks, Aruba, Tp-Link y D-Link.</b>
				</p>
				<img src="./assets/img/servicios/wifi.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3 servLeft">
			<div class="head">
				<div class="number-box">
					<!-- <span>03</span> -->
				</div>
				<h2> Videovigilancia</h2>
			</div>
			<div class="body">
				<p>En TECMHI nos preocupamos por tu seguridad, por ello ponemos a tu disposición una amplia gama de cámaras de seguridad para tu casa empresa o negocio, manejamos tecnología analógica e IP. <br>
				<b>Manejamos marcas Hikvision, Dahua y Hilook.</b></p>
				<img src="./assets/img/servicios/camaras.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4 servRight">
			<div class="head">
				<div class="number-box">
					<!-- <span>04</span> -->
				</div>
				<h2> Conmutadores telefónicos</h2>
			</div>
			<div class="body">
				<p>Hoy en día la telefonía es una herramienta completamente imprescindible para cualquier empresa, casa, negocio o industria, ya que es el principal medio de comunicación tanto internamente, como con los clientes, proveedores etc.<br>
					<b>Manejemos marcas Panasonic y Grandstream.</b>
					</p>
				<img src="./assets/img/servicios/telefonia.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step5 servLeft">
			<div class="head">
				<div class="number-box">
					<!-- <span>05</span> -->
				</div>
				<h2>Casas inteligentes</h2>
			</div>
			<div class="body">
				<p>Automatizamos tu hogar para brindarte mayor comodidad, seguridad y ahorro de energia, mediante el uso del internet de las cosas (IOT).</p>
				<img src="./assets/img/servicios/domotica.jpg" alt="Graphic">
			</div>
		</div>

        <div class="demo-card demo-card--step1 servRight">
			<div class="head">
				<div class="number-box">
					<!-- <span>05</span> -->
				</div>
				<h2>Soporte Técnico</h2>
			</div>
			<div class="body">
				<p>Administración de red de datos, telefonía y cctv a través de sistemas centralizados en la nube o alojados localmente con administración remota y en sitio.</p>
				<img src="./assets/img/servicios/soporte.jpg" alt="Graphic">
			</div>
		</div>
    
	</div>
</section>
<app-counters></app-counters>