@import '../../../assets/styles/variable.scss';

#particles-js{
  position: absolute;
  width: 100%;
  height: 100% !important;
  background: #000000;
}

.separator.small {
  background-color: rgb(136, 136, 136);
  height: 3px;
  position: relative;
  width: 200px;
  display: block;
  margin: 10px auto 20px;
}

.image_body{
    background-attachment: fixed;	
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icono_init{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.tittle-softnet{
    font-weight: bold;
    color: white;        
}

.subtittle-softnet{
	top: 0%; color: white;
}

.texto-info{
    position: inherit;top: 40%; text-align: center
}



.txt-especialista{
    position: relative;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: $color_primary;
}

.txt-servicios{
  color: white !important;
}

.section_our_solution .row {
    align-items: center;
  }
  
  .our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
  }
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0;
  }
  
  .solution_card .so_top_icon {
  }
  
  .solution_card .solu_title h3 {
    color: $color_primary;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }
  
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  .our_solution_content p {
  }
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    .sol_card_top_3 {
      position: relative;
      top: 0;
    }
  
    .our_solution_category {
      width: 100%;
      margin: 0 auto;
    }
  
    .our_solution_category .solution_cards_box {
      flex: auto;
    }
  }
  @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  }
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_solution_category {
      width: 100%;
      margin: 0 auto;
    }
  }
  


  /* segundos card */
  .pad0 {
    padding: 0px;
}

.bg_black {
    background: #000;
}


.transperent_block {
    padding: 0px;
    position: relative;
    overflow: hidden;
    background-color:#cccccc;
    height: 250px;
}

.transperent_block img {
    width: 100%;
    height: 100%;
}

.transperent_block:hover .black_hover_block {
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
}

.transperent_block img {
    z-index: 4;
}

.transperent_block .black_hover_block {
    position: absolute;
    bottom: 3%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.transperent_block:hover .black_hover_block,
.black_hover_block:hover {
    bottom: 30%;
    transition: all 0.3s ease-in-out;
}

.transperent_block .blur {
    background-color: rgba(0, 0, 0, 0.7);
    height: 400px;
    z-index: 5;
    position: absolute;
    width: 100%;
}

.transperent_block .black_hover_block_text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 400px;
    text-align: center;
    top: -2px;
    width: 100%;
}

.block_header {
    margin-top: 5px;
}

.black_hover_block_text i:hover {
    color: #77132f;
}

.black_hover_block_text i {
    padding: 10px 10px;
    font-size: 18px;
    color: #fff;
}

.black_hover_block_text i:hover {
    color: #ffffffa6
}


.titl-h5 {
    border-top: 2px solid $color_primary;
    border-bottom: 2px solid $color_primary;
    /* padding: 10px; */
    margin-top: -20px;    
    line-height: 20px;
    text-transform: uppercase;
}

.btn-pink {
    background-color: #77132f;
    color: #fff;
    border: 4px solid #77132f;
}

.btn-pink:hover {
    color: #fff;
    background-color: #6f0f2a9e;
    border: 4px solid #6f0f2a4e;
}

.btn-sm {
    margin-top: 10px;
}


.black_hover_block_text li {
    list-style: none;
    border: none !important;
}

.float-left{
  margin-left: 5px;
}

.botm-margn{
  padding-bottom: 5%;
}

.more-button{
  border: 0;
    border-radius: 15px;
    background: linear-gradient(140deg, #42c3ca 0%, #42c3ca 50%, #42c3cac7 75%) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.more-button:hover{

    background: linear-gradient(140deg, $color_primary 0%, $color_primary 50%, $color_primary_degrad 75%) !important;
}
  /* segundos card */




  .carousel-control-prev-icon 
  {
      width: 24px;
      height: 24px;
      margin-left: -100%;
  }
      
  .carousel-control-next-icon
  {
      width: 24px;
      height: 24px;
      margin-right: -100%;
  }
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}



/* timeline */

.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}
.text-muted{
  color: white !important;
}

.mt-3{
  color: white !important;
}
@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted $color_primary;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }
    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted $color_primary;;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $color_primary;
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: $color_primary;;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

/* timeline */