<div class="col-12 image_body " *ngIf="indice == 0" style="background-image: url('./assets/img/tecmhi/pexels-cottonbro-5473298.jpg');">
  <div class="texto-info">

    <div class="banner_content text-center">
      <h1 class="tittle-softnet animate__animated animate__slideInUp">DESARROLLO DE SOFTWARE</h1>
    </div>
    <h4 class="subtittle-softnet animate__animated animate__flash">Apps, Web, Escritorio y mas.</h4>
  </div>
</div>

<div class="col-12 image_body" *ngIf="indice == 1"
  style="background-image: url('./assets/img/tecmhi/network.jpg'); ">
  <div class="texto-info">

    <div class="banner_content text-center">
      <h1 class="tittle-softnet animate__animated animate__slideInUp">INSTALACIONES Y PROYECTOS</h1>
    </div>
    <h4 class="subtittle-softnet animate__animated animate__flash">Cableado estructurado, wifi, voz, datos y mas.</h4>
  </div>
</div>

<div class="col-12" style="text-align: center;">
  <div class="container">
    <h2 class="txt-especialista">
      <mat-icon class="icono_init">settings</mat-icon> Somos especialistas
      <div class="separator small center"></div>
    </h2>
    <br>
    <div class="section_our_solution">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="our_solution_category">
            <div class="solution_cards_box">
              <div class="solution_card digit">
                <div class="hover_color_bubble"></div>
                <div class="so_top_icon">
                  <img src="./assets/img/iconos/tecmhi-icono.png" alt="">
                </div>
                <div class="solu_title">
                  <h3 class="title-elect">¿POR QUÉ ELEGIRNOS?</h3>
                </div>
                <div class="solu_description">
                  <p>
                    Tecmhi, es un equipo de trabajo ampliamente capacitado y productivo capaz de ofrecer las mejores
                    soluciones tecnólogicas a nuestros clientes, nuestro equipo esta conformado por un grupo de
                    ingenieros en telecomunicación, programadores, diseñadores con la firme intención de generar mejores
                    resultados y generar clientes satisfechos.
                  </p>
                  <!-- <button type="button" class="read_more_btn">Ver Mas</button> -->
                </div>
              </div>
              <div class="solution_card digit">
                <div class="hover_color_bubble"></div>
                <div class="so_top_icon">
                  <img src="./assets/img/iconos/mision.png" alt="">
                </div>
                <div class="solu_title">
                  <h3>NUESTRA MISIÓN</h3>
                </div>
                <div class="solu_description">
                  <p>
                    Satisfacer las necesidades de nuestros clientes en las tecnologías de la información y las telecomunicaciones, ofreciendo productos y servicios de alta calidad e innovación tecnológica para lograr la satisfacción de nuestros clientes.
                  </p>
                  <!-- <button type="button" class="read_more_btn">Ver Mas</button> -->
                </div>
              </div>
            </div>
            <!--  -->
            <div class="solution_cards_box sol_card_top_3">
              <div class="solution_card digit">
                <div class="hover_color_bubble"></div>
                <div class="so_top_icon">
                  <img src="./assets/img/iconos/solucion.png" alt="">
                </div>
                <div class="solu_title">
                  <h3>
                    SOLUCIONES ÓPTIMAS</h3>
                </div>
                <div class="solu_description">
                  <p>
                    De acuerdo las necesidades de nuestros clientes les brindamos soluciones enfocadas en resultados que retribuyan tu inversión.
.
                  </p>
                  <!-- <button type="button" class="read_more_btn">Ver Mas</button> -->
                </div>
              </div>
              <div class="solution_card digit">
                <div class="hover_color_bubble"></div>
                <div class="so_top_icon">
                  <img src="./assets/img/iconos/calidad.png" alt="">
                </div>
                <div class="solu_title">
                  <h3>SERVICIOS DE CALIDAD</h3>
                </div>
                <div class="solu_description">
                  <p>
                    La calidad es nuestro compromiso con las empresas que confían n nosotros, nuestra calidad profesional y humana de nuestra gente nos destaca especialmente.

                  </p>
                  <!-- <button type="button" class="read_more_btn">Ver Mas</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

</div>

<div class="container-fluid">

  <div class="row" style="position: relative;">

    <app-services-principales style="width: 100%;"></app-services-principales>
    <!-- timelines -->
    <div class="container" style="margin-top: 5%; margin-bottom: 5%;">
      <!--first section-->
      <div class="row align-items-center how-it-works d-flex" id="trigger1">
        <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold">1</div>
        </div>
        <div class="col-10 col-md-6 box" id="revealbox1">
          <h5 class="title_line">Relación a largo plazo</h5>
          <p class="subtitle_line">Entre proveedores y clientes nos dan la oportunidad de involucrarnos en la mejora
            continua de productos y servicios así como el desarrollo de nuevos procesos de negocio y estrategias.</p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works d-flex" id="trigger2">
        <div class="col-10  col-md-6  box" id="revealbox2">
          <h5 class="title_line">Proyectos integrales en tecnología</h5>
          <p class="subtitle_line">Ofrecemos beneficios inmediatos que se ven reflejados en la mejora de los procesos de
            nuestros clientes.</p>
        </div>
        <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works d-flex" id="trigger3">
        <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold">3</div>
        </div>
        <div class="col-10 col-md-6 box" id="revealbox3">
          <h5 class="title_line">Especialistas en soluciones para tu empresa</h5>
          <p class="subtitle_line">Trabajamos siempre en constante innovación, buscando, desarrollando e implementando
            nuevas tecnologías.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<app-counters></app-counters>