<div class="col-12" style="text-align: center;">
    <div class="container">
      <h2 class="txt-especialista">
        <mat-icon class="icono_init">settings</mat-icon> Somos especialistas
        <div class="separator small center"></div>
      </h2>
      <br>
      <div class="section_our_solution">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="our_solution_category">
              <div class="solution_cards_box">
                <div class="solution_card digit">
                  <div class="hover_color_bubble"></div>
                  <div class="so_top_icon">
                    <img src="./assets/img/iconos/tecmhi-icono.png" alt="">
                  </div>
                  <div class="solu_title">
                    <h3 class="title-elect">¿POR QUÉ ELEGIRNOS?</h3>
                  </div>
                  <div class="solu_description">
                    <p>
                      Tecmhi, es un equipo de trabajo ampliamente capacitado y productivo capaz de ofrecer las mejores
                      soluciones tecnólogicas, estamos conformados por un grupo de
                      ingenieros en telecomunicación, programadores, diseñadores con la firme intención de generar mejores
                      resultados.
                    </p>
                    <!-- <button type="button" class="read_more_btn">Ver Mas</button> -->
                  </div>
                </div>
                <div class="solution_card digit">
                  <div class="hover_color_bubble"></div>
                  <div class="so_top_icon">
                    <img src="./assets/img/iconos/mision.png" alt="">
                  </div>
                  <div class="solu_title">
                    <h3>NUESTRA MISIÓN</h3>
                  </div>
                  <div class="solu_description">
                    <p>
                      Satisfacer las necesidades de nuestros clientes en las tecnologías de la información y las telecomunicaciones, ofreciendo productos y servicios de alta calidad e innovación tecnológica.
                    </p>
                    <!-- <button type="button" class="read_more_btn">Ver Mas</button> -->
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="solution_cards_box sol_card_top_3">
                <div class="solution_card digit">
                  <div class="hover_color_bubble"></div>
                  <div class="so_top_icon">
                    <img src="./assets/img/iconos/solucion.png" alt="">
                  </div>
                  <div class="solu_title">
                    <h3>
                      NUESTRA VISIÓN</h3>
                  </div>
                  <div class="solu_description">
                    <p>
                      Ser una empresa líder en el ámbito de la tecnología y ser reconocidos por ofrecer servicios de alta calidad y satisfacción del cliente.
                    </p>
                    <!-- <button type="button" class="read_more_btn">Ver Mas</button> -->
                  </div>
                </div>
                <div class="solution_card digit">
                  <div class="hover_color_bubble"></div>
                  <div class="so_top_icon">
                    <img src="./assets/img/iconos/calidad.png" alt="">
                  </div>
                  <div class="solu_title">
                    <h3>SERVICIOS DE CALIDAD</h3>
                  </div>
                  <div class="solu_description">
                    <p>
                      La calidad es nuestro compromiso con las empresas que confían en nosotros, nuestra calidad profesional y humana de nuestra gente nos destaca especialmente.
  
                    </p>
                    <!-- <button type="button" class="read_more_btn">Ver Mas</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  
  </div>