
<header>
    <div class="overlay">
        <video id="background-video" muted autoplay loop   >
            <source
                src="https://player.vimeo.com/external/499594302.sd.mp4?s=2cf8beb30fbdad310b414cdf5e25323c6475fe77&profile_id=164"
                type="video/mp4">
        </video>
        <div class="txt_header">
            <h1 class="header_tittle">Contacto</h1>
            <!-- <h3 class="texto_header">Razones para elegirnos</h3> -->
            <p class="texto_header">Somos un equipo multidisciplinario con amplia experiencia en desarrollo de software,
                diseño web, ingeniería
                de software, soporte técnico. Todas las áreas trabajamos en equipo para lograr mejores resultados y
                generar
                clientes satisfechos.
            </p>
        </div>
    </div>
