<div id="particles-js"></div>
<div class="col-12" style="text-align: center;">
  <h2 class="txt-especialista txt-servicios">
    <mat-icon class="icono_init">settings</mat-icon> PRINCIPALES SERVICIOS
    <div class="separator small center"></div>
  </h2>
</div>
<br>

<div class="container">

  <div class="row mx-auto my-auto">
    <div id="recipeCarousel" class="carousel slide w-100 col-md-4" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="transperent_block ">
            <img src="./assets/img/servicios/desarrollo.jpg" class="img-responsive" alt="">

            <div class="black_hover_block">
              <div class="blur"></div>
              <div class="black_hover_block_text">
                <div class="bg_black" style="text-align: center;">
                  <h5 class="titl-h5">Desarrollo de software</h5>
                  <div class="clearfix"></div>
                </div>
                <br>
                <p>Desarrollamos software de primer nivel, escalable y robusto.</p>
                <button type="button" [routerLink]="['/soluciones/desarrollo']" class="more-button">Ver Mas</button>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="transperent_block ">
            <img src="./assets/img/servicios/aplicaciones.jpg" class="img-responsive" alt="">

            <div class="black_hover_block">
              <div class="blur"></div>
              <div class="black_hover_block_text">
                <div class="bg_black" style="text-align: center;">
                  <h5 class="titl-h5">Aplicaciones móviles</h5>
                  <div class="clearfix"></div>
                </div>
                <br>
                <p>Desarrollamos aplicaciones móviles que ayudan a nuestros clientes a mejorar la experiencia de sus consumidores y optimizar procesos en su empresa.</p>
                <button type="button" [routerLink]="['/soluciones/desarrollo']" class="more-button">Ver Mas</button>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="transperent_block ">
            <img src="./assets/img/servicios/sistemas.jpg" class="img-responsive" alt="">

            <div class="black_hover_block">
              <div class="blur"></div>
              <div class="black_hover_block_text">
                <div class="bg_black" style="text-align: center;">
                  <h5 class="titl-h5">Sistemas a la medida</h5>
                  <div class="clearfix"></div>
                </div>
                <br>
                <p>Diseñamos sitios web pensandos en el usuario final, optimizados para buscadores y listos para dispositivos móviles y de escritorio.</p>
                <button type="button" [routerLink]="['/soluciones/desarrollo']" class="more-button">Ver Mas</button>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

    <div id="recipeCarousel1" class="carousel slide w-100 col-md-4" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="transperent_block ">
            <img src="./assets/img/servicios/redes.jpg" class="img-responsive" alt="">

            <div class="black_hover_block">
              <div class="blur"></div>
              <div class="black_hover_block_text">
                <div class="bg_black" style="text-align: center;">
                  <h5 class="titl-h5">Conecta tu empresa</h5>
                  <div class="clearfix"></div>
                </div>
                <br>
                <p>Conectamos tu empresa basándonos en los estándares de cableado estructurado.</p>
                <button type="button" [routerLink]="['/soluciones/telecomunicaciones']" class="more-button">Ver Mas</button>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="transperent_block ">
            <img src="./assets/img/servicios/wifi.jpg" class="img-responsive" alt="">

            <div class="black_hover_block">
              <div class="blur"></div>
              <div class="black_hover_block_text">
                <div class="bg_black" style="text-align: center;">
                  <h5 class="titl-h5">Soluciones wifi</h5>
                  <div class="clearfix"></div>
                </div>
                <br>
                <p>Llevamos el internet a todos los rincones de tu empresa.</p>
                <button type="button" [routerLink]="['/soluciones/telecomunicaciones']" class="more-button">Ver Mas</button>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

    <div id="recipeCarousel2" class="carousel slide w-100 col-md-4" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="transperent_block ">
            <img src="./assets/img/servicios/camaras.jpg" class="img-responsive" alt="">

            <div class="black_hover_block">
              <div class="blur"></div>
              <div class="black_hover_block_text">
                <div class="bg_black" style="text-align: center;">
                  <h5 class="titl-h5">Videovigilancia</h5>
                  <div class="clearfix"></div>
                </div>
                <br>
                <p>En TECMHI nos preocupamos por tu seguridad, por ello ponemos a tu disposición una amplia gama de cámaras de seguridad para tu casa empresa o negocio, manejamos tecnología analógica e IP.</p>
                <button type="button" [routerLink]="['/soluciones/telecomunicaciones']" class="more-button">Ver Mas</button>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="transperent_block ">
            <img src="./assets/img/servicios/telefonia.jpg" class="img-responsive" alt="">

            <div class="black_hover_block">
              <div class="blur"></div>
              <div class="black_hover_block_text">
                <div class="bg_black" style="text-align: center;">
                  <h5 class="titl-h5">Telefonia</h5>
                  <div class="clearfix"></div>
                </div>
                <br>
                <p>Mantente comunicado siempre con tus clientes o colaboradores.</p>
                <button type="button" [routerLink]="['/soluciones/telecomunicaciones']" class="more-button">Ver Mas</button>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="transperent_block ">
            <img src="./assets/img/servicios/domotica.jpg" class="img-responsive" alt="">

            <div class="black_hover_block">
              <div class="blur"></div>
              <div class="black_hover_block_text">
                <div class="bg_black" style="text-align: center;">
                  <h5 class="titl-h5">Casas inteligentes</h5>
                  <div class="clearfix"></div>
                </div>
                <br>
                <p>Automatizamos tu hogar para brindarte mayor comodidad, seguridad y ahorro de energia, mediante el uso del internet de las cosas (IOT).</p>
                <button type="button" [routerLink]="['/soluciones/telecomunicaciones']" class="more-button">Ver Mas</button>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>

  </div>
</div>