@import "../../app.component.scss";
.title-calendar, .date-calendar, .learn-more, .circle-calendar-container, .line-calendar-container{
    display: block;
    width: 100%;
    text-align: center;
}
.title-calendar{
    color: $light-blue;
    font-size: 1.2rem;
    font-weight: bold !important;
    margin-top: 20px;
}
.learn-more{
    color: $light-blue;
}
.circle-calendar{
    fill: $dark-blue;
}
.line-calendar{
    stroke-width: 3;
    stroke: $dark-blue;
}
.learn-more:hover{
    color: $dark-blue;
    cursor: help;
}
.help-dialog {
    display: none;
}
.date-calendar{
    color: $dark-grey;
}