
    <mat-grid-list [cols]="(isHandset$ | async) ? 1 : 5" [rowHeight]="(isHandset$ | async) ? '65vh' : '80vh'" class="calendar-list">
        <mat-grid-tile><div class="calendar-div">
            <img src="./assets/img/calendar/opening.svg" alt="Opening" class="calendar-img">
            <svg width="20" height="30"  class="line-calendar-container">
                <line class="line-calendar" x1="50%" y1="0" x2="50%" y2="40"/>
            </svg>
            <svg width="20" height="20"  class="circle-calendar-container">
                <circle class="circle-calendar" cx="50%" cy="50%" r="10"/>
            </svg>
            <span class="title-calendar">Opening</span>
            <span class="date-calendar">July 23th</span>
            <br><span class="learn-more" #tooltip="matTooltip" matTooltip="All activities will be opened up for participation.">Learn more</span>
        </div></mat-grid-tile>
        <mat-grid-tile><div class="calendar-div">
            <img src="./assets/img/calendar/competition.svg" alt="Competition Phase" class="calendar-img">
            <svg width="20" height="30"  class="line-calendar-container">
                <line class="line-calendar" x1="50%" y1="0" x2="50%" y2="40"/>
            </svg>
            <svg width="20" height="20"  class="circle-calendar-container">
                <circle class="circle-calendar" cx="50%" cy="50%" r="10"/>
            </svg>
            <span class="title-calendar">Competition Phase</span>
            <span class="date-calendar">July 23th - August 8th</span>
            <br><span class="learn-more" #tooltip="matTooltip" matTooltip="Dates in which you can submit your participation into all the different activities.">Learn more</span>
        </div></mat-grid-tile>
        <mat-grid-tile><div class="calendar-div">
            <img src="./assets/img/calendar/evaluation.svg" alt="Evaluation" class="calendar-img">
            <svg width="20" height="30"  class="line-calendar-container">
                <line class="line-calendar" x1="50%" y1="0" x2="50%" y2="40"/>
            </svg>
            <svg width="20" height="20"  class="circle-calendar-container">
                <circle class="circle-calendar" cx="50%" cy="50%" r="10"/>
            </svg>
            <span class="title-calendar">Evaluation</span>
            <span class="date-calendar">August 9th - August 12th</span>
            <br><span class="learn-more" #tooltip="matTooltip" matTooltip="All submissions will be reviewed.">Learn more</span>
        </div></mat-grid-tile>
        <mat-grid-tile><div class="calendar-div">
            <img src="./assets/img/calendar/award.svg" alt="Award Ceremony" class="calendar-img">
            <svg width="20" height="30"  class="line-calendar-container">
                <line class="line-calendar" x1="50%" y1="0" x2="50%" y2="40"/>
            </svg>
            <svg width="20" height="20"  class="circle-calendar-container">
                <circle class="circle-calendar" cx="50%" cy="50%" r="10"/>
            </svg>
            <span class="title-calendar">Award Ceremony</span>
            <span class="date-calendar">August 13th</span>
            <br><span class="learn-more" #tooltip="matTooltip" matTooltip="The winners for every activity will be announced.">Learn more</span>
        </div></mat-grid-tile>
        <mat-grid-tile><div class="calendar-div">
            <img src="./assets/img/calendar/closing.svg" alt="Closing" class="calendar-img">
            <svg width="20" height="30"  class="line-calendar-container">
                <line class="line-calendar" x1="50%" y1="0" x2="50%" y2="40"/>
            </svg>
            <svg width="20" height="20"  class="circle-calendar-container">
                <circle class="circle-calendar" cx="50%" cy="50%" r="10"/>
            </svg>
            <span class="title-calendar">Closing</span>
            <span class="date-calendar">August 13th</span>
            <br><span class="learn-more" #tooltip="matTooltip" matTooltip="Closing Day">Learn more</span>
        </div></mat-grid-tile>
    </mat-grid-list>

