<div class="continer-participant-info" *ngIf="participant != null">
    <div>
        <img *ngIf="participant.profile_picture == null" src="./assets/img/user.svg" alt="" class="part-img">
        <img *ngIf="participant.profile_picture != null" src="{{imageProfile}}{{participant.profile_picture}}" alt="" class="part-img">
    </div>
    <div>
        <p class="part-name">{{participant.name}} {{participant.last_name}}</p>
        <p class="part-country"><img src="./assets/img/countries/{{participant.country.image}}" alt="" class="participant-flag">{{participant.country.country}}</p>
        <!-- <p class="edit-info">Edit <img src="./assets/img/profile/edit.svg" alt=""></p> -->
    </div>
</div>
