@import "../../app.component.scss";

.timer-grid{
    width: 50%;
    margin: auto;
    text-align: center;
}
.timer-square {
    background-color: $dark-blue;
    color: white;
    font-weight: bold;
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 
.timer-text{
    font-weight: 200;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}
.timer-number{
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    top: 0;
    padding-top: 10px;
}