<mat-grid-list [cols]="(isHandset$ | async) ? 2 : 1" class="timer-grid" rowHeight="150px">
    <mat-grid-tile><div class="timer-square">
        <div class="timer-number">Thank you for your participation!</div><div class="timer-text">We are close now</div>
    </div></mat-grid-tile>
   <!--  <mat-grid-tile><div class="timer-square">
        <div class="timer-number">{{days}}</div><div class="timer-text">DAYS</div>
    </div></mat-grid-tile>
    <mat-grid-tile><div class="timer-square">
        <div class="timer-number">{{hours}}</div><div class="timer-text">HRS</div>
    </div></mat-grid-tile>
    <mat-grid-tile><div class="timer-square">
        <div class="timer-number">{{minutes}}</div><div class="timer-text">MIN</div>
    </div></mat-grid-tile>
    <mat-grid-tile><div class="timer-square">
        <div class="timer-number">{{seconds}}</div><div class="timer-text">SEC</div>
    </div></mat-grid-tile> -->
</mat-grid-list>
