@import "../app.component.scss";
@import '../../assets/styles/variable.scss';

.menu {
    --front: #1d99d6;
    --back: #D93757;
    --icon: white;
    perspective: 600px;
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    input {
        display: none;
        & + div {
            span {
                --rotateY: 0deg;
                --background: var(--front);
                transform: rotateY(var(--rotateY));
                transform-style: preserve-3d;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: var(--background);
                backface-visibility: hidden;
                transition: transform .6s cubic-bezier(.2, .64, .48, 1.24);
                &:before,
                &:after {
                    --rotate: 0deg;
                    content: '';
                    position: absolute;
                    width: 16px;
                    height: 2px;
                    border-radius: 1px;
                    top: 50%;
                    left: 50%;
                    background: var(--icon);
                    backface-visibility: hidden;
                    transform: translate(-50%, -50%) rotate(var(--rotate)) translateZ(6px);
                }
                &:first-child {
                    --background: var(--back);
                    &:before {
                        --rotate: -45deg;
                    }
                    &:after {
                        --rotate: 45deg;
                    }
                }
                &:last-child {
                    --rotateY: 180deg;
                    &:before {
                        box-shadow: 0 -5px 0 var(--icon), 0 5px 0 var(--icon);
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
        &:checked + div {
            span {
                &:first-child {
                    --rotateY: -180deg;
                }
                &:last-child {
                    --rotateY: 0deg;
                }
            }
        }
    }
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0) !important;
    border-color: rgba(255, 255, 255, 0) !important;
}

.nav_color{
	background: rgb(255,255,255) !important;
	background: linear-gradient(90deg, rgba(255,255,255,1) 24%, rgba(24,114,182,1) 57%, rgba(29,153,214,1) 100%) !important;
}
.navbar {      
    font-weight: 300;
}

.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1em!important;
	font-size: 90%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffffb8;
   font-family: 'Gothic A1', sans-serif;   
}

.link_active{
	color: $nav_active !important;
	font-weight: bold !important;
	background-color:#0000ff00 !important;    
}


.navbar-nav .nav-item .nav-link:hover{
	color:$nav_hover;
	font-weight: bold !important;	
}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid $color_logo_1;
}
.dropdown-item:hover{background-color:#fed136;color:#fff;}
nav{-webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
	}
	
 .shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #807f82;
}

.logoBlanco{
	width: 250px;
	display: block;
}

.logoColor{
	width: 95px;
	display: block;
}

/* mobile view */
@media (max-width:500px)
{
	
	.nav_color{
		background: rgb(255,255,255) !important;
		background: linear-gradient(90deg, rgba(255,255,255,1) 24%, rgb(255, 255, 255) 57%, rgb(255, 255, 255) 100%) !important;
	}
	.navbar-nav{
		background-color:#000;
		border-top:3px solid $color_logo_1;
		color:#fff;
		z-index:1;
		margin-top:5px;
		}
	.navbar-nav .nav-item .nav-link{
	padding: 0.7em 1em!important;
	font-size: 100%;
    font-weight: 500;
    }
	.banner-text{
	padding:150px 0 150px 0;
}

}
.tile.socialmedia:hover{
	color: $nav_active !important;
}
.tile.socialmedia{
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	position: relative;
	top: 5px;
	margin-left: 10px;
}

