<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner" #navbar>
  <div class="container">
    <!-- Brand -->
    <a id="logoColor" class="navbar-brand" href="#"><span><img src="./assets/img/logo/logo_tecmi.png" class="logoBlanco animate__animated animate__zoomIn"></span></a>
    <a id="logoBlanco" class="navbar-brand" href="#"><span><img src="./assets/img/logo/logo_blanco.png" class="logoBlanco animate__animated animate__lightSpeedInLeft"></span></a>

    <!-- Toggler/collapsibe Button -->
<!--     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <label class="menu navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
      <input type="checkbox" checked>
      <div>
          <span></span>
          <span></span>
      </div>
  </label>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="inicio">
          <a class="nav-link" #home [routerLinkActive]="['link_active']" [routerLink]="['']"
            [routerLinkActiveOptions]="{exact: true}">INICIO</a>
        </li>
        <li class="nav-item" id="nosotros">
          <a class="nav-link" [routerLinkActive]="['link_active']" [routerLink]="['/nosotros']"
            [routerLinkActiveOptions]="{exact: true}">NOSOTROS</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-toggle="dropdown" [routerLinkActive]="['link_active']" [routerLink]="['/soluciones']"  aria-haspopup="true" aria-expanded="false">
            SOLUCIONES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <a class="dropdown-item" [routerLinkActive]="['link_active']" [routerLink]="['/soluciones/desarrollo']"
            [routerLinkActiveOptions]="{exact: true}">Desarrollo de software</a>
            <a class="dropdown-item" [routerLinkActive]="['link_active']" [routerLink]="['/soluciones/telecomunicaciones']"
            [routerLinkActiveOptions]="{exact: true}">Telecomunicaciones</a>            
          </div>
        </li>

        <li class="nav-item" id="portafolio">
          <a class="nav-link" [routerLinkActive]="['link_active']" [routerLink]="['/portafolio']"
            [routerLinkActiveOptions]="{exact: true}">PORTAFOLIO</a>
        </li>
        <li class="nav-item" id="contacto">
          <a class="nav-link" [routerLinkActive]="['link_active']" [routerLink]="['/contacto']"
            [routerLinkActiveOptions]="{exact: true}">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a href="https://www.softcrud.com/" target="_blank" class="tile socialmedia"><i
              class="fa fa-facebook"></i></a>
          <a href="https://www.softcrud.com/" target="_blank" class="tile socialmedia"><i
              class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>