<!-- <mat-sidenav-container class="sidenav-container" style="display: contents;" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      opened="false">      
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">Home</a>
      <a mat-list-item [routerLink]="['/categories']">Categories</a>
      <a mat-list-item [routerLink]="['/calendar']">Calendar</a>
      <a mat-list-item [routerLink]="['/leaderboard']">Leaderboard</a>
      <a mat-list-item [routerLink]="['/gallery']">Gallery</a>
      <a mat-list-item [routerLink]="['/judges']">Judges</a>      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="internal-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="./assets/img/toolbar/cx-interior.png" alt="Logo CXA" class="logo-cxa">
      <span class="spacer"></span>
      <div class="toolbar-right" *ngIf="!(isHandset$ | async)">
        <a mat-button [routerLink]="['/']" [routerLinkActive]="['link_active']" class="toolbar-button">Home</a>
        <a mat-button [routerLink]="['/categories']" [routerLinkActive]="['link_active']" class="toolbar-button">Categories</a>
        <a mat-button [routerLink]="['/calendar']" [routerLinkActive]="['link_active']" class="toolbar-button">Calendar</a>
        <a mat-button [routerLink]="['/leaderboard']" [routerLinkActive]="['link_active']" class="toolbar-button">Leaderboard</a>
        <a mat-button [routerLink]="['/gallery']" [routerLinkActive]="['link_active']" class="toolbar-button">Gallery</a>
        <a mat-button [routerLink]="['/judges']" [routerLinkActive]="['link_active']" class="toolbar-button">Judges</a>
      </div>
    </mat-toolbar>
    
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
 -->

<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner" #navbar>
  <div class="container">
    <!-- Brand -->
    <a id="logoColor" class="navbar-brand" href="#"><span><img src="./assets/img/logo/logo_tecmi.png" class="logoBlanco"></span></a>
    <a id="logoBlanco" class="navbar-brand" href="#"><span><img src="./assets/img/logo/logo_blanco.png" class="logoBlanco"></span></a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="inicio">
          <a class="nav-link" #home [routerLinkActive]="['link_active']" [routerLink]="['']"
            [routerLinkActiveOptions]="{exact: true}">INICIO</a>
        </li>
        <li class="nav-item" id="nosotros">
          <a class="nav-link" [routerLinkActive]="['link_active']" [routerLink]="['/nosotros']"
            [routerLinkActiveOptions]="{exact: true}">NOSOTROS</a>
        </li>
        <li class="nav-item" id="servicios">
          <a class="nav-link" [routerLinkActive]="['link_active']" [routerLink]="['/servicios']"
            [routerLinkActiveOptions]="{exact: true}">SERVICIOS</a>
        </li>
        <li class="nav-item" id="portafolio">
          <a class="nav-link" [routerLinkActive]="['link_active']" [routerLink]="['/portafolio']"
            [routerLinkActiveOptions]="{exact: true}">PORTAFOLIO</a>
        </li>
        <li class="nav-item" id="contacto">
          <a class="nav-link" [routerLinkActive]="['link_active']" [routerLink]="['/contacto']"
            [routerLinkActiveOptions]="{exact: true}">CONTACTO</a>
        </li>
        <li class="nav-item">
          <a href="https://www.softcrud.com/" target="_blank" class="tile socialmedia"><i
              class="fa fa-facebook"></i></a>
          <a href="https://www.softcrud.com/" target="_blank" class="tile socialmedia"><i
              class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>