<mat-sidenav-container class="sidenav-container" style="display: contents;">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      opened="false">
      <!--[opened]="(isHandset$ | async) === false"-->
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']">Home</a>
      <a mat-list-item [routerLink]="['/categories']">Categories</a>
      <a mat-list-item [routerLink]="['/calendar']">Calendar</a>
      <a mat-list-item [routerLink]="['/leaderboard']">Leaderboard</a>
      <a mat-list-item [routerLink]="['/gallery']">Gallery</a>
      <a mat-list-item [routerLink]="['/judges']">Judges</a>
      <a mat-list-item [routerLink]="['/profile']">Profile<img src="./assets/img/toolbar/user.svg"></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="internal-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="./assets/img/toolbar/cx-interior.png" alt="Logo CXA" class="logo-cxa">
      <img src="./assets/img/toolbar/cisco-interior.png" alt="Logo Cisco" class="logo-cisco">
      <img src="./assets/img/toolbar/logowellness.png" alt="Logo Wellness" class="logo-wellness">
      <span class="spacer"></span>
      <div class="toolbar-right" *ngIf="!(isHandset$ | async)">
        <a mat-button [routerLink]="['/']" [routerLinkActive]="['link_active']" class="toolbar-button">Home</a>
        <a mat-button [routerLink]="['/categories']" [routerLinkActive]="['link_active']" class="toolbar-button">Categories</a>
        <a mat-button [routerLink]="['/calendar']" [routerLinkActive]="['link_active']" class="toolbar-button">Calendar</a>
        <a mat-button [routerLink]="['/leaderboard']" [routerLinkActive]="['link_active']" class="toolbar-button">Leaderboard</a>
        <a mat-button [routerLink]="['/gallery']" [routerLinkActive]="['link_active']" class="toolbar-button">Gallery</a>
        <a mat-button [routerLink]="['/judges']" [routerLinkActive]="['link_active']" class="toolbar-button">Judges</a>
        <a mat-button [routerLink]="['/profile']" [routerLinkActive]="['link_active']" class="toolbar-button"><img src="./assets/img/toolbar/user.svg"> Profile</a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
