<header>
	<div class="overlay">
		<video id="background-video" autoplay loop muted>
			<source src="https://player.vimeo.com/external/449623714.sd.mp4?s=204d7c2d80573553d3d7a279930b1903e52f6337&profile_id=164" type="video/mp4">
		  </video>
		  
		  <div class="txt_header">
			  <h1 class="header_tittle animate__animated animate__slideInUp">Desarrollo de software</h1>
			  <!-- <h3 class="texto_header">Razones para elegirnos</h3> -->
			  <p class="texto_header animate__animated animate__flash">Compartir la visión de nuestros clientes es nuestra mejor herramienta, con una misma meta es más fácil generar los resultados esperados.
			  </p>		
		  </div>
    </div>
</header>

<section id=timeline>

	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1 servLeft">
			<div class="head">
				<div class="number-box">
					<!-- <span>01</span> -->
				</div>				
				<h2> Diseño y desarrollo web</h2>
			</div>
			<div class="body">
				<p>Diseñamos sitios web pensandos en el usuario final, optimizados para buscadores y listos para dispositivos móviles y de escritorio.</p>
				<img src="./assets/img/servicios/desarrollo.jpg" style="width: 100%;" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2 servRight">
			<div class="head">
				<div class="number-box">
					<!-- <span>02</span> -->
				</div>
				<h2> Aplicaciones móviles</h2>
			</div>
			<div class="body">
				<p>Desarrollamos aplicaciones móviles que ayudan a nuestros clientes a mejorar la experiencia de sus consumidores y optimizar procesos en su empresa, desarrollos hibridos y nativos.</p>
				<img src="./assets/img/servicios/aplicaciones.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3 servLeft">
			<div class="head">
				<div class="number-box">
					<!-- <span>03</span> -->
				</div>
				<h2> Sistemas a la Medida</h2>
			</div>
			<div class="body">
				<p>Desarrollamos aplicaciones de software a la medida. Creamos desde sistemas web, hasta ERP's empresariales.</p>
				<img src="./assets/img/servicios/sistemas.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4 servRight">
			<div class="head">
				<div class="number-box">
					<!-- <span>04</span> -->
				</div>
				<h2> Juegos 2D y 3D</h2>
			</div>
			<div class="body">
				<p>Diseños y creamos juegos basados en Unity.</p>
				<img src="./assets/img/servicios/juegos.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step5 servLeft">
			<div class="head">
				<div class="number-box">
					<!-- <span>05</span> -->
				</div>
				<h2>Consultoría TI</h2>
			</div>
			<div class="body">
				<p>Ofrecemos diferentes soluciones flexibles y de innovación tecnológica para facilitar la inclusion de su empresa al mundo digital.</p>
				<img src="./assets/img/servicios/marketing.jpg" alt="Graphic">
			</div>
		</div>
		<div class="demo-card demo-card--step2 servRight">
			<div class="head">
				<div class="number-box">
					<!-- <span>05</span> -->
				</div>
				<h2>Soporte</h2>
			</div>
			<div class="body">
				<p>Te ofrecemos asistencia para el uso correcto, la manutención e implementación de los recursos tecnológicos en tu empresa.</p>
				<img src="./assets/img/servicios/soporte.jpg" alt="Graphic">
			</div>
		</div>
    
	</div>
</section>
<app-counters></app-counters>