<header>
    <div class="overlay">
        <br>
        <h1 class="header_tittle">Desarrollo de software</h1>
        <!-- <h3 class="texto_header">Razones para elegirnos</h3> -->
        <p class="texto_header">Compartir la visión de nuestros clientes es nuestra mejor herramienta, con una misma meta es más fácil generar los resultados esperados.
        </p>
        <br>
    </div>
</header>

<section id=timeline>

	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<!-- <span>01</span> -->
				</div>				
				<h2> Diseño y desarrollo web</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/desarrollo.jpg" style="width: 100%;" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<!-- <span>02</span> -->
				</div>
				<h2> Aplicaciones móviles</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/aplicaciones.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<!-- <span>03</span> -->
				</div>
				<h2> Sistemas a la Medida</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/sistemas.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<!-- <span>04</span> -->
				</div>
				<h2> Juegos 2D y 3D</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/juegos.jpg" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<!-- <span>05</span> -->
				</div>
				<h2>Marketing Digital</h2>
			</div>
			<div class="body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.</p>
				<img src="./assets/img/servicios/marketing.jpg" alt="Graphic">
			</div>
		</div>
    
	</div>
</section>
<app-counters></app-counters>