@import "../../app.component.scss";

.image{
    height:105vh; 
    background-size:cover;
    width:auto;
    background-image: url("../../../assets/img/initial/portada.png");
    background-position:50% 50%;
    background-repeat: no-repeat;
    z-index: -10;
}
.main-content{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}
.main-page-div{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.main-title{
    color: white;
    font-size: 3rem;
    //extra-light
    font-weight: 200;
}
.enter-button{
    color: $light-blue;
    background-color: white;
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-top-left-radius: 20px 50%;
    border-bottom-left-radius: 20px 50%;
    border-top-right-radius: 20px 50%;
    border-bottom-right-radius: 20px 50%;
}
.initial-toolbar{
    background: none;
    padding-top: 50px;
}
.logo-left, .logo-right{
    max-width: 50%;
    height: auto;
}
.login-title{
    font-size: 2rem;
    text-align: center;
}
.btn-login{
    color: white;
    font-weight: bold;
    background-color: $dark-blue;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}
