@import '../../app.component.scss';

.table-medals{
    width: 100%;    
}
.circulo {
	border-radius: 50%;	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin:15px auto;
    padding:3%;
    color: white;
}
.circulo-gd{
	width: 3rem;
	height: 3rem;
}
.container-medal-number{
    float: left;
    width: 33.3%;
    display: flex;
}
.circulo-sm{
	width: 2rem;
    min-width: 2rem;
	height: 2rem;
    border-radius: 50%;	
    margin: auto;
    display: block;
}
.medal-number{
    font-size: 0.9rem;
    color: $grey-font;
    height: 2rem;
	line-height: 2rem;
    text-align: center;
    margin-right: 2rem;
    flex: 1;
}
.oro{
    background: $oro;
}
.plata{
    background: $plata;
}
.bronce{
    background: $bronce;
}
.arrow-down {
    width: 0;
    height: 0;  
    border-right: 10px solid transparent;
    border-left: 10px solid transparent; 
    display:block;
    margin:auto;
}
.arrow-oro{
    border-top: 15px solid $oro;
}
.arrow-plata{
    border-top: 15px solid $plata;
}
.arrow-bronce{
    border-top: 15px solid $bronce;
}
.big-flag{
    width: 300px;
    height: 300px;
    display:block;
    margin:auto;
    border-radius: 50%;
}
.small-leaderboard{
    margin-top: 100px;
}
.sm-flag{
    width: 50px;
    height: auto;
}