<header>
    <div class="overlay">
        <video id="background-video"  #videoPlayer autoplay loop muted  >
            <source
                src="https://player.vimeo.com/external/499594302.sd.mp4?s=2cf8beb30fbdad310b414cdf5e25323c6475fe77&profile_id=164"
                type="video/mp4">
        </video>
        <div class="txt_header">
            <h1 class="header_tittle">Portafolio</h1>
            <!-- <h3 class="texto_header">Razones para elegirnos</h3> -->
            <p class="texto_header">Somos un equipo multidisciplinario con amplia experiencia en desarrollo de software,
                diseño web, ingeniería
                de software, soporte técnico. Todas las áreas trabajamos en equipo para lograr mejores resultados y
                generar
                clientes satisfechos.
            </p>
        </div>
    </div>
</header>

<div class="container" style="margin-top: 3%;">

    <div class="row">
        <div class="col-12 ">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Desarrollo de software</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Redes y telecomunicaciones</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 botm-margn " *ngFor="let item of portafolioDev">
                            <div class="container_init">
                                <div class="post">
                                    <div class="header_post">
                                        <img src="https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                                    </div>
                            
                                    <div class="body_post">
                                        <div class="post_content">
                            
                                            <h1>Lorem Ipsum</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda cumque deserunt
                                                dolorum ex exercitationem.</p>
                            
                                            <div class="container_infos">
                                                <!-- <div class="postedBy">
                                                    <span>author</span>
                                                    Edgar Barrera
                                                </div> -->
                            
                                                <div class="container_tags">
                                                    <!-- <span>tags</span> -->
                                                    <div class="tags">
                                                        <ul>
                                                            <li>design</li>
                                                            <li>front end</li>
                                                        </ul>
                                                    </div>
                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 botm-margn " *ngFor="let item of portafolioDev">
                            <div class="container_init">
                                <div class="post">
                                    <div class="header_post">
                                        <img src="https://images.pexels.com/photos/2529973/pexels-photo-2529973.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                                    </div>
                            
                                    <div class="body_post">
                                        <div class="post_content">
                            
                                            <h1>Lorem Ipsum</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda cumque deserunt
                                                dolorum ex exercitationem.</p>
                            
                                            <div class="container_infos">
                                                <!-- <div class="postedBy">
                                                    <span>author</span>
                                                    Edgar Barrera
                                                </div> -->
                            
                                                <div class="container_tags">
                                                    <!-- <span>tags</span> -->
                                                    <div class="tags">
                                                        <ul>
                                                            <li>design</li>
                                                            <li>front end</li>
                                                        </ul>
                                                    </div>
                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>




</div>
<div _ngcontent-c5="" class="div-botton"></div>
<app-counters></app-counters>