/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

@import 'spinner';
@import 'variable.scss';
@import 'responsive.scss';

.titles{
    color: $color_logo_3;
}

.separator.small {
    background-color: rgb(136, 136, 136);
    height: 3px;
    position: relative;
    width: 200px;
    display: block;
    margin: 10px auto 20px;
  }

  

.txt-especialista{
    position: relative;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: $color_logo_3;
}

.txt-servicios{
  color: white !important;
}
