/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

@import 'spinner';
@import 'variable.scss';
@import 'responsive.scss';

.titles{
    color: $color_logo_3;
}

