/**
 * Table Of Content
 *
 * 	1. Globals
 *	2. Headers
 *	3. Navigations
 *	4. Banners
 *	5. Footers
 *	6. app
 *	7. Widgets
 *	8. Custom Templates
 */

@import 'spinner';
@import 'variable.scss';
@import 'responsive.scss';
@import 'servicios.scss';


.icono_init{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}



.digit {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
	
}

.digit.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
	
}


.servLeft{	
	-webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    -o-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0;
    transition: 2s all ease;
}

.servLeft.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;	
}


.servRight{	
	-webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -ms-transform: translateX(150px);
    -o-transform: translateX(150px);
    transform: translateX(150px);
    opacity: 0;
    transition: 2s all ease;
}

.servRight.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;	
}

.box {
	width: auto;
	/* margin: 50px auto; */
	padding-top: 4rem;
	padding-bottom: 4rem;	
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	transform: scale(0.9);
	transition: all 1s ease-in-out;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

.buttons {
	display: inline-block;
	padding: .75rem 1.25rem;
	border-radius: 10rem;
	color: #fff;
	font-size: 1rem;
	letter-spacing: .15rem;
	transition: all .3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: $color_logo_1;
	  border-radius: 10rem;
	  z-index: -2;
	}
	&:before {
	  content: '';
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 0%;
	  height: 100%;
	  background-color: $color_logo_2;
	  transition: all .3s;
	  
	  z-index: -1;
	}
	&:hover {
	  color: #fff;
	  &:before {
		width: 100%;
	  }
	}
  }
  
.titles{
    color: $color_logo_3;
}

.separator.small {
    background-color: rgb(136, 136, 136);
    height: 3px;
    position: relative;
    width: 200px;
    display: block;
    margin: 10px auto 20px;
  }

  

.txt-especialista{
    position: relative;
    display: block;
    text-transform: uppercase;
    margin-bottom: 5%;
    margin-top: 5%;
    font-weight: 700;
    letter-spacing: 0.3rem;
    color: $color_logo_3;
}

.txt-servicios{
  color: white !important;
}

body{
	overflow: unset !important;
}

/* header data */

video{
	width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    Border-radius: 0 0 85% 85%/30%;
    display: block;
}

header {
	/* background: url('http://vimah.mx/assets/img/shape/circle-shape2.png'); */
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	z-index: -1;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 25px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    /* background-image: linear-gradient(90deg, #1d99d699 24%, #1872b666 57%, #1d99d687 100%) !important; */
	
}

.header_tittle {
	/* font-family: 'Dancing Script', cursive; */
	font-size: 5rem;
	padding-top: 2.5%;
	margin-bottom: 30px;
}

.texto_header {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

/* header data */


/* mobile view */
@media (max-width:500px)
{
	.txt_header{
		position: relative;
		float: left;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.header_tittle {
		font-size: 2.0rem;		
	}

	header{
		height: 100vh;
		video{
			height: 100vh;
			border-radius: 0 0 0 0;
		}
		border-radius: 0 0 0 0;
	}


}


