
// Variables
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


//COLORES

$color_primary: rgb(0, 153, 255);
$color_primary_degrad: rgb(87, 188, 255);

/*Theme Colors*/
$bodycolor: rgb(248, 244, 232);
$spinner_backgrond: rgba(0, 0, 0, 0.849);
$nav_active: $color_primary;
$nav_hover:$color_primary;