
// Variables
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');


//COLORES
$color_logo_1: #1d99d6;
$color_logo_2: #1872b6;
$color_logo_3: #273d7a;
$color_logo_4: #1b72b7;


$color_primary: white;
$color_primary_degrad: rgb(87, 188, 255);

/*Theme Colors*/
$bodycolor: rgb(248, 244, 232);
$spinner_backgrond: rgb(0 0 0 / 60%);
$nav_active: $color_primary;
$nav_hover:$color_primary;