@import "../../app.component.scss";

.continer-team-info{
    width: 80%;
	height: auto;
}
.part-img {
    float: left; 
    margin-right: 20px;
    height: 100px;
    width: auto;	
} 
.edit-info{
    color: $light-blue;
    font-weight: bold;
    font-size: 0.8rem;
}
.edit-info:hover{
    cursor: pointer;
}
.team-name{
    color: $grey-font;
    font-size: 0.8rem;
}
.btn-teams{
    background-color: $light-blue;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.close-button{
    color: $light-blue;
    float: right;
    cursor: pointer;
}
.instruction-text{
    color: $grey-font;
    font-weight: 200;
    font-size: 0.9rem;
}
.instruction-title{
    margin-top: 20px;
    font-weight: bold;
    color: $light-blue;
}
.dialog-spacer{
    height: 30px;
}
input[type="file"] {
    display: none;
}
.custom-file-upload-btn {
    color: $light-blue;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}
.input-label{
    color: $grey-font;
}
.team-name-input{
    width: 300px;
    border-radius: 10px;
    outline: 0;
    border-width: 1px;
    border-color: $grey-font;
    margin-bottom: 20px;
}
.img-and-title{
    margin-top: 20px;
    min-width: 300px;
}
.team-name-participants{
    font-weight: bold;
    color: $grey-font;
    font-size: 1.1rem;
    min-height: 100px;
    margin: auto;
}
.participant-container{
    margin-top: 10px;
}
.member-text{
    font-weight: bold;
    color: $grey-font;
}
.participant-name{
    font-weight: 200;
    color: $grey-font;
}
.new-members-btn{
    margin-left: 5px;
}
.table-cell{
    padding-right: 5px;
}
.cell-content{
    font-size: 0.6rem;
    color: $grey-font;
    font-weight: 200;
}
.add-to-team{
    cursor: pointer;
    color: $green;
}
.remove-from-team{
    cursor: pointer;
    color: $orange;
    float: right;
}
.search-container{
    margin-top: 20px;
    max-width: 100%;
}
.search-results-container{
    max-width: 100%;
}
.table-header{
    background-color: $light-blue;
    color: white;
    font-weight: bold;
}
.table-search{
    width: 100%;
}