<div class="container-team-info">
    <div *ngIf="currentTeam != null">
        <button class="btn-teams" (click)="showModal(modalEditMembers);">Edit team members</button>
        <div *ngIf="currentTeam.team_image != null">
            <img src="{{imageTeam}}{{currentTeam.team_image}}" alt="" class="part-img">
        </div>
        <div *ngIf="currentTeam.team_image == null">
            <img src="./assets/img/team.svg" alt="" class="part-img">
        </div>
        <div>
            <p class="team-name">{{currentTeam.team_name}}</p>
            <!-- <p class="edit-info">Edit <img src="./assets/img/profile/edit.svg" alt=""></p> -->
        </div>
    </div>
    <div *ngIf="currentTeam == null">
        <button class="btn-teams" (click)="showModal(modalInstructions);">Instructions</button><br>
        <button class="btn-teams" (click)="showModal(modalCreateTeam);">Start your team</button>
        <div>
            <p class="team-name">Please create or join a team before participating.</p>
        </div>
    </div>
</div>

<ng-template #modalInstructions>
    <div>
        <mat-icon mat-dialog-close  class="close-button">close</mat-icon>
    </div>
    <p class="instruction-title">
        Instructions
    </p>
    <p class="instruction-text">
        You will form a team of maximum 5 people where each individual must be registered.
    </p>
    <p class="instruction-text">
        Click on <b>Start your Team</b> to add members. 
    </p>
    <p class="instruction-text" *ngIf="hash_activity == null || hash_activity != 'b9e3d8c6-7d48-45da'">
        Any member can add other members to participate in the activity. Each member of the team must upload their kilometers, time and evidence which will be shown in the profile of each member. 
    </p>
    <p class="instruction-text" *ngIf="hash_activity != null && hash_activity == 'b9e3d8c6-7d48-45da'">
        You will recieve an email with the instructions  on what to prepare. All the team members need to upload a photo with their dishes.
    </p>
    <p class="instruction-text" *ngIf="hash_activity == null || hash_activity != 'b9e3d8c6-7d48-45da'">
        The time and distance of each member will be added in a final result which will be shown in the table of the team.
    </p>
    <p class="instruction-text" *ngIf="hash_activity != null && hash_activity == 'b9e3d8c6-7d48-45da'">
        There will be 4 dishes to prepare.
    </p>
    <div>
        <button mat-dialog-close  class="btn-teams" style="float: right;">Got it</button>
    </div>
</ng-template>

<ng-template #modalCreateTeam>
    <div>
        <mat-icon mat-dialog-close  class="close-button">close</mat-icon>
    </div>
    <form [formGroup]="formNewTeam" (ngSubmit)="newTeamSubmit()">
        <div class="dialog-spacer"></div>
        <div>
            <img src="./assets/img/team.svg" alt="" class="part-img">
        </div>
        <div class="text-upload">
            <label class="custom-file-upload-btn">
                <input type="file" id="teamImg" formControlName="teamImg" (change)="onFileSelected($event)">{{fileName}} <img src="./assets/img/profile/edit.svg" alt="">
            </label>
        </div>
        <div class="description-upload">
            <span class="input-label">Team Name</span><br>
            <input type="text" class="team-name-input" id="teamName" formControlName="teamName" placeholder="Pick a nickname for your team">
        </div>
        <div>
            <button class="btn-teams" type="submit" style="float: right;">Save</button>
        </div>
    </form>
</ng-template>

<ng-template #modalEditMembers>
    <div>
        <mat-icon mat-dialog-close  class="close-button">close</mat-icon>
    </div>
    <div class="img-and-title">
        <div *ngIf="currentTeam.team_image != null">
            <img src="{{imageTeam}}{{currentTeam.team_image}}" alt="" class="part-img">
        </div>
        <div *ngIf="currentTeam.team_image == null">
            <img src="./assets/img/team.svg" alt="" class="part-img">
        </div>
        <div class="team-name-participants">
            {{currentTeamWithParticipants.team_name}}
        </div>
    </div>
    <div *ngFor="let participant of currentTeamWithParticipants.participants; let i = index" class="participant-container">
        <span class="member-text">Member{{i+1}}: </span>
        <span class="participant-name">
            {{participant.name}} {{participant.last_name}} 
            <mat-icon (click)="removeFromTeam(participant.hash_participant)" class="remove-from-team">person_remove</mat-icon>
        </span>
    </div>
    <div class="search-container">
        <form [formGroup]="searchForm" (ngSubmit)="SearchSubmit()">
            <input type="text" placeholder="Write name or email" id="searchText" formControlName="searchText">
            <button class="btn-teams new-members-btn" type="submit">
                Search Members
            </button>
        </form>
    </div>
    <div class="search-results-container" *ngIf="dataSearch != null">
        <table mat-table [dataSource]="dataSearch" class="mat-elevation-z8 table-search">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="table-cell table-header"> Name </th>
              <td mat-cell *matCellDef="let participant" class="table-cell cell-content">{{participant.name}}<br>{{participant.last_name}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="last_name">
              <th mat-header-cell *matHeaderCellDef class="table-cell table-header"> Last Name </th>
              <td mat-cell *matCellDef="let participant" class="table-cell"> {{participant.last_name}} </td>
            </ng-container> -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="table-cell table-header"> Email </th>
              <td mat-cell *matCellDef="let participant" class="table-cell cell-content"> {{participant.email}} </td>
            </ng-container>
            <ng-container matColumnDef="add">
                <th mat-header-cell *matHeaderCellDef class="table-cell table-header"></th>
                <td mat-cell *matCellDef="let participant" class="table-cell add-to-team"> <mat-icon (click)="addToTeam(participant.hash_participant)">person_add</mat-icon></td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>          
    </div>
</ng-template>