<header>
    <div class="overlay">
        <video id="background-video" autoplay loop muted>
            <source
                src="https://player.vimeo.com/external/451812833.sd.mp4?s=6ed003f66907bee9816f8eb772f1e61c617eb80f&profile_id=164"
                type="video/mp4">
        </video>
        <div class="txt_header">
            <h1 class="header_tittle animate__animated animate__slideInUp">Confia en nosotros</h1>
            <!-- <h3 class="texto_header">Razones para elegirnos</h3> -->
            <p class="texto_header animate__animated animate__flash">Somos un equipo multidisciplinario con amplia experiencia en desarrollo de software,
                diseño web, ingeniería
                de software, soporte técnico. Todas las áreas trabajamos en equipo para lograr mejores resultados y
                generar
                clientes satisfechos.
            </p>
        </div>
    </div>
</header>


<div class="container" style="display: block; padding-top: 2%;">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline digit" >
                    <a class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-globe"></i>
                        </div>
                        <span class="timeline-year">1</span>
                        <h3 class="title">Hacemos equipo</h3>
                        <p class="description">
                            Creemos que la mejor forma de dar grandes soluciones es tener un mismo objetivo.
                            Antes de hacer negocios te queremos conocer y hacer nuestra tu visión.
                        </p>
                    </a>
                </div>
                <div class="timeline digit">
                    <a class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-hourglass" aria-hidden="true"></i>
                        </div>
                        <span class="timeline-year">2</span>
                        <h3 class="title">Servicio Post-Venta</h3>
                        <p class="description">
                            Un excelente servicio que te ofrece atención y mantenimiento en el momento en que lo
                            necesites.
                        </p>
                    </a>
                </div>
                <div class="timeline digit">
                    <a class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                        <span class="timeline-year">3</span>
                        <h3 class="title">Pensamos a futuro</h3>
                        <p class="description">
                            ¡Somos enemigos de trabajar doble! Cada vez tenemos un nuevo cliente nos esforzamos
                            por plantearnos escenarios antes de que sucedan, y así, siempre estar un paso
                            adelante.
                        </p>
                    </a>
                </div>
                <div class="timeline digit">
                    <a class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-ticket" aria-hidden="true"></i>
                        </div>
                        <span class="timeline-year">4</span>
                        <h3 class="title">Atención personalizada</h3>
                        <p class="description">
                            Nuestra prioridad siempre será la calidad, para lograrlo procuramos que el equipo
                            trabaje con una cantidad limitada de clientes y así, tener la atención adecuada para
                            ti y tu proyecto.
                        </p>
                    </a>
                </div>
                <div class="timeline digit">
                    <a class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-check-square" aria-hidden="true"></i>
                        </div>
                        <span class="timeline-year">5</span>
                        <h3 class="title">Soluciones óptimas</h3>
                        <p class="description">
                            De acuerdo a tus necesidades, te damos soluciones enfocadas en
                            resultados que retribuyan tu inversión.
                        </p>
                    </a>
                </div>
                <div class="timeline digit">
                    <a class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                        </div>
                        <span class="timeline-year">6</span>
                        <h3 class="title">Servicios de calidad</h3>
                        <p class="description">
                            Trabajamos en que nuestro equipo este actualizado, para ofrecerte el mejor servicio de
                            calidad.
                        </p>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<app-counters></app-counters>