<header>
    <div class="overlay">
        <br>
        <h1 class="header_tittle">Diseño y desarrollo</h1>
        <!-- <h3 class="texto_header">Razones para elegirnos</h3> -->
        <p class="texto_header">Compartir la visión de nuestros clientes es nuestra mejor herramienta, con una misma meta es más fácil generar los resultados esperados.
        </p>
        <br>
    </div>
</header>
<section class="light">
	<div class="container py-2">

		<article class="postcard light blue">
			<a class="postcard__img_link" >
				<img class="postcard__img" src="./assets/img/servicios/desarrollo.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a >Diseño y desarrollo web</a></h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" >
				<img class="postcard__img" src="./assets/img/servicios/aplicaciones.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a >Aplicaciones móviles</a></h1>
				
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>				
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link" >
				<img class="postcard__img" src="./assets/img/servicios/sistemas.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a >Sistemas a la Medida</a></h1>
				
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>				
			</div>
		</article>
	
        <article class="postcard light green">
			<a class="postcard__img_link" >
				<img class="postcard__img" src="./assets/img/servicios/juegos.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a >Juegos 2D y 3D</a></h1>
				
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>				
			</div>
		</article>
	</div>

    
</section>
<app-counters></app-counters>