<loading *ngIf="isLoading"></loading>
<div class="container-fluid" *ngIf="isLoaded">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="col-12">
                <span class="number_category"
                    [ngStyle]="{color: evidence.activity.category.colour}">{{addNumberData(evidence.activity.category.id_category)}}</span>
            </div>
            <div class="col-12">
                <span class="category_size"
                    [ngStyle]="{color: evidence.activity.category.colour}">{{evidence.activity.category.category}}</span>
            </div>
            <div class="col-12">
                <span class="name_activity">{{evidence.activity.activity}}</span>
            </div>
            <div class="col-12">
                <span class="about" (click)="openModal(myModalInfo)">About this activity</span>
            </div>
        </div>
        <div class="col-md-7 col-sm-12" *ngIf="evidence.activity.type !== 'judge' && (firstLeaderboard.length > 0 || firstLeaderboardTeam.length > 0)">
            <br>
            <div class="row">
                <div class="col-12">
                    <span class="about leader">Leaderboard</span>
                </div>
            </div>

            <div class="row" *ngIf="isLoadedLeaderboard">
                <!-- leaderboard NORMAL -->
                
                    <div class="col-md-4 col-sm-12 board" *ngIf="firstLeaderboard[0] != undefined">
                        <div class="col-md-1 col-sm-12 medallas">
                            <div class="circulo oro">
                                <span>1</span>
                            </div>
    
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <img class="img_leader img-responsive" src="{{getImage(firstLeaderboard[0])}}">
                        </div>
                        <div class="col-12">
                            <span class="span-cards contestant ">{{firstLeaderboard[0].participant.name}}
                                {{firstLeaderboard[0].participant.last_name}} </span>
                            <br>
                            <span class="span-cards contestant "><img
                                    src="./assets/img/countries/{{firstLeaderboard[0].participant.country.image}}"
                                    class="country" alt=""> {{firstLeaderboard[0].participant.country.country}}</span>
                            <br>
                            <span class="distance" *ngIf="firstLeaderboard[0].distance != null"> <span
                                    class="span-cards hash_tag ">Distance: </span> <span
                                    class="span-cards distance_value">{{convertDistance(firstLeaderboard[0].distance)}}
                                    km</span> </span>
                            <br>
                            <span *ngIf="firstLeaderboard[0].tiempo != null"> <span class="span-cards hash_tag ">Time:
                                </span> <span class="span-cards">{{convertTime(firstLeaderboard[0].tiempo)}}</span>
                            </span>
                            <br>
                            <span *ngIf="firstLeaderboard[0].actions != null"> <span class="span-cards hash_tag ">Actions:
                                </span> <span class="span-cards">{{firstLeaderboard[0].actions}}</span>
                            </span>
                            <br>
                            <span *ngIf="firstLeaderboard[0].repetitions != null"> <span
                                    class="span-cards hash_tag ">Repetitions Or Points: </span> <span
                                    class="span-cards">{{firstLeaderboard[0].repetitions}}</span> </span>
                        </div>
                    </div>
    
                    <!-- PLATA -->
                    <div class="col-md-4 col-sm-12 board" *ngIf="firstLeaderboard[1] != undefined">
                        <div class="col-md-1 col-sm-12 medallas">
                            <div class="circulo plata">
                                <span>2</span>
                            </div>
    
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <img class="img_leader img-responsive" src="{{getImage(firstLeaderboard[1])}}">
                        </div>
                        <div class="col-12">
                            <span class="span-cards contestant ">{{firstLeaderboard[1].participant.name}}
                                {{firstLeaderboard[1].participant.last_name}} </span>
                            <br>
                            <span class="span-cards contestant "><img
                                    src="./assets/img/countries/{{firstLeaderboard[1].participant.country.image}}"
                                    class="country" alt=""> {{firstLeaderboard[1].participant.country.country}}</span>
                            <br>
                            <span class="distance" *ngIf="firstLeaderboard[1].distance != null"> <span
                                    class="span-cards hash_tag ">Distance: </span> <span
                                    class="span-cards distance_value">{{convertDistance(firstLeaderboard[1].distance)}}
                                    km</span> </span>
                            <br>
                            <span *ngIf="firstLeaderboard[1].tiempo != null"> <span class="span-cards hash_tag ">Time:
                                </span> <span class="span-cards">{{convertTime(firstLeaderboard[1].tiempo)}}</span>
                            </span>
                            <br>
                            <span *ngIf="firstLeaderboard[1].actions != null"> <span class="span-cards hash_tag ">Actions:
                                </span> <span class="span-cards">{{firstLeaderboard[1].actions}}</span>
                            </span>
                            <br>
                            <span *ngIf="firstLeaderboard[1].repetitions != null"> <span
                                    class="span-cards hash_tag ">Repetitions Or Points: </span> <span
                                    class="span-cards">{{firstLeaderboard[1].repetitions}}</span> </span>
                        </div>
                    </div>
    
                    <!-- BRONCE -->
                    <div class="col-md-4 col-sm-12 board" *ngIf="firstLeaderboard[2] != undefined">
                        <div class="col-md-1 col-sm-12 medallas">
                            <div class="circulo bronce">
                                <span>3</span>
                            </div>
    
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <img class="img_leader img-responsive" src="{{getImage(firstLeaderboard[2])}}">
                        </div>
                        <div class="col-12">
                            <span class="span-cards contestant ">{{firstLeaderboard[2].participant.name}}
                                {{firstLeaderboard[2].participant.last_name}} </span>
                            <br>
                            <span class="span-cards contestant "><img
                                    src="./assets/img/countries/{{firstLeaderboard[2].participant.country.image}}"
                                    class="country" alt=""> {{firstLeaderboard[2].participant.country.country}}</span>
                            <br>
                            <span class="distance" *ngIf="firstLeaderboard[2].distance != null"> <span
                                    class="span-cards hash_tag ">Distance: </span> <span
                                    class="span-cards distance_value">{{convertDistance(firstLeaderboard[2].distance)}}
                                    km</span> </span>
                            <br>
                            <span *ngIf="firstLeaderboard[2].tiempo != null"> <span class="span-cards hash_tag ">Time:
                                </span> <span class="span-cards">{{convertTime(firstLeaderboard[2].tiempo)}}</span>
                            </span>
                            <br>
                            <span *ngIf="firstLeaderboard[2].actions != null"> <span class="span-cards hash_tag ">Actions:
                                </span> <span class="span-cards">{{firstLeaderboard[2].actions}}</span>
                            </span>
                            <br>
                            <span *ngIf="firstLeaderboard[2].repetitions != null"> <span
                                    class="span-cards hash_tag ">Repetitions Or Points: </span> <span
                                    class="span-cards">{{firstLeaderboard[2].repetitions}}</span> </span>
                        </div>
                    </div>                

                <!-- leaderboard NORMAL -->
                <!-- ORO -->


                <!-- Leaderboard EQUIPOS -->
                    <!-- ORO -->
                    <div class="col-md-4 col-sm-12 board" *ngIf="firstLeaderboardTeam[0] != undefined">
                        <div class="col-md-1 col-sm-12 medallas">
                            <div class="circulo oro">
                                <span>1</span>
                            </div>
    
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <img class="img_leader img-responsive" src="{{getImageTeam(firstLeaderboardTeam[0])}}">
                        </div>
                        <div class="col-12">
                            <span class="span-cards contestant ">{{firstLeaderboardTeam[0].team.team_name}} </span>
                            <br>
                            <span class="distance" *ngIf="firstLeaderboardTeam[0].distance != null"> <span
                                    class="span-cards hash_tag ">Distance: </span> <span
                                    class="span-cards distance_value">{{convertDistance(firstLeaderboardTeam[0].distance)}}
                                    km</span> </span>
                            <br>
                            <span *ngIf="firstLeaderboardTeam[0].tiempo != null"> <span class="span-cards hash_tag ">Time:
                                </span> <span class="span-cards">{{convertTime(firstLeaderboardTeam[0].tiempo)}}</span>
                            </span>                           
                        </div>
                    </div>

                     <!-- PLATA -->
                     <div class="col-md-4 col-sm-12 board" *ngIf="firstLeaderboardTeam[1] != undefined">
                        <div class="col-md-1 col-sm-12 medallas">
                            <div class="circulo plata">
                                <span>2</span>
                            </div>
    
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <img class="img_leader img-responsive" src="{{getImageTeam(firstLeaderboardTeam[1])}}">
                        </div>
                        <div class="col-12">
                            <span class="span-cards contestant ">{{firstLeaderboardTeam[1].team.team_name}} </span>
                            <br>
                            <span class="distance" *ngIf="firstLeaderboardTeam[1].distance != null"> <span
                                    class="span-cards hash_tag ">Distance: </span> <span
                                    class="span-cards distance_value">{{convertDistance(firstLeaderboardTeam[1].distance)}}
                                    km</span> </span>
                            <br>
                            <span *ngIf="firstLeaderboardTeam[1].tiempo != null"> <span class="span-cards hash_tag ">Time:
                                </span> <span class="span-cards">{{convertTime(firstLeaderboardTeam[1].tiempo)}}</span>
                            </span>                           
                        </div>
                    </div>

                      <!-- BRONCE -->
                      <div class="col-md-4 col-sm-12 board" *ngIf="firstLeaderboardTeam[2] != undefined">
                        <div class="col-md-1 col-sm-12 medallas">
                            <div class="circulo bronce">
                                <span>3</span>
                            </div>
    
                        </div>
                        <div class="col-md-1 col-sm-12">
                            <img class="img_leader img-responsive" src="{{getImageTeam(firstLeaderboardTeam[2])}}">
                        </div>
                        <div class="col-12">
                            <span class="span-cards contestant ">{{firstLeaderboardTeam[2].team.team_name}} </span>
                            <br>
                            <span class="distance" *ngIf="firstLeaderboardTeam[2].distance != null"> <span
                                    class="span-cards hash_tag ">Distance: </span> <span
                                    class="span-cards distance_value">{{convertDistance(firstLeaderboardTeam[2].distance)}}
                                    km</span> </span>
                            <br>
                            <span *ngIf="firstLeaderboardTeam[2].tiempo != null"> <span class="span-cards hash_tag ">Time:
                                </span> <span class="span-cards">{{convertTime(firstLeaderboardTeam[2].tiempo)}}</span>
                            </span>                           
                        </div>
                    </div>                

                <!-- Leaderboard EQUIPOS -->
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <span class="about" [routerLink]="['/leaderboard']">View all places</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row participate">
        <div class="col-12">
            <button mat-raised-button class="btn_participate" [routerLink]="['/profile', {hash_activity: hashActivity}]">Participate</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3 mt-4" *ngFor="let item of evidence.evidence">
            <div class="card">
                <!-- <img class="card-img-top" src="https://picsum.photos/200/150/?random"> -->
                <img class="card-img-top" *ngIf="item.type_evidence == 'Foto'"
                    src="{{filesEvidence}}{{item.participant.hash_participant}}/{{item.hash_activity}}/{{item.evidence}}">
                <video class="card-img-top" controls *ngIf="item.type_evidence == 'Video'"
                    src="{{filesEvidence}}{{item.participant.hash_participant}}/{{item.hash_activity}}/{{item.evidence}}"></video>
                <div class="card-block">
                    <span class="span-cards contestant datos">{{item.participant.name }} {{item.participant.last_name}}
                        <span style="float: right; text-align: center;"><img
                                src="./assets/img/countries/{{item.participant.country.image}}" class="country" alt="">
                            {{item.participant.country.country}}</span></span>
                    <span class="datos" *ngIf="item.description != null"><span
                            class="span-cards hash_tag contestant">#{{item.description}}</span></span>
                    <span class="distance datos" *ngIf="item.distance != null"> <span
                            class="span-cards hash_tag">Distance: </span> <span
                            class="span-cards distance_value">{{convertDistance(item.distance)}} km</span> </span>
                    <span class="datos" *ngIf="item.time != null"> <span class="span-cards hash_tag ">Time: </span>
                        <span class="span-cards">{{convertTime(item.time)}}</span> </span>

                    <span *ngIf="item.actions != null"> <span class="span-cards hash_tag ">Actions: </span> <span
                            class="span-cards">{{item.actions}}</span>
                    </span>

                    <span *ngIf="item.repetitions != null"> <span class="span-cards hash_tag ">Repetitions Or Points:
                        </span> <span class="span-cards">{{item.repetitions}}</span> </span>
                </div>
            </div>
        </div>
        <div class="load-more" *ngIf="getPagination()" (click)="addPage()">
            Load more
        </div>
    </div>
</div>


<ng-template #myModalInfo>
    <h2 mat-dialog-title mat-dialog-close class="close_modal">&times;</h2>

    <div class="row">
        <div class="col-12">
            <span class="number_category"
                [ngStyle]="{color: evidence.activity.category.colour}">{{addNumberData(evidence.activity.category.id_category)}}</span>
        </div>
        <div class="col-12">
            <span class="category_size"
                [ngStyle]="{color: evidence.activity.category.colour}">{{evidence.activity.category.category}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="name_activity">{{evidence.activity.activity}}</span>
            <br>
            <span class="span-modal">{{evidence.activity.summary}}</span>
            <div class="row how">
                <div class="col-md-4 col-sm-12">
                    <img class="how_img" src="./assets/img/activities/howWinner/{{evidence.activity.category.how_icon}}"
                        alt="">
                </div>
                <div class="col-md-8 col-sm-12">
                    <span class="name_activity">How?</span>
                    <br>
                    <span class="span-modal">{{evidence.activity.how}}</span>
                </div>
            </div>

            <div class="row how">
                <div class="col-md-4  col-sm-12">
                    <img class="how_img"
                        src="./assets/img/activities/howWinner/{{evidence.activity.category.winner_icon}}" alt="">
                </div>
                <div class="col-md-8 col-sm-12">
                    <span class="name_activity">Who will be the winner?</span>
                    <br>
                    <span class="span-modal">{{evidence.activity.winner}}</span>
                </div>
            </div>

        </div>
        <div class="col-md-6  col-sm-12" style="text-align: center;">
            <img src="./assets/img/activities/about/{{evidence.activity.img_about}}" style="max-width: 60%;" alt="">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <button mat-raised-button mat-dialog-close class="btn_participate">Start Now</button>
        </div>
    </div>


</ng-template>